@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
  --primary: #ecf0f1;
  --secondary: rgba(128, 128, 128, 0.13);
}
body{
  font-family: Roboto;
  font-style:normal;
  font-weight: bold;
  background: url('./assets/images/backBoton.png');
  background-repeat: no-repeat;
  background-size: auto;
  
}
.container-cards{
  display: flex; 
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.card{
  background:rgba(128, 128, 128, 0.13);
}
.card__header{
  background-image:  url('https://raw.githubusercontent.com/afprietoa/TechTest-Assets/main/Frontend/images/background.png');
   background-size: cover;
   background-repeat: no-repeat;
  background-position: center 35%;
    /* rgba(139, 195, 74, 0.5)  */
}
.icon{
  width: 2rem;
}
.more-info{
  text-align: right;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}
.button-update{
  width: 25%;
  font-weight: bold;
}
.statistics{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.statistic-icon{
  fill: red;
}
.form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-bottom: 2rem;
}

.form__input{
    padding: 10px 0px 20px 10px;
    border-radius: 2px;
    outline: none;
    width: 80%;
  
    border-radius: 8px 0 0 8px;
    color: #505052;
    border: none;
    font-size: 14px;
}
.icon-search{
  width: 1.5rem;
  
}
.form__btn{
width: 70px;
height: 3em;
background: white;
border-radius: 0px 8px 8px 0px;
cursor: pointer;
border:none;
}
.title-searcher{
  margin-left: 4.5rem;
  margin-bottom: 1rem;
}
.title-main{
  display: flex;
  justify-content: space-between;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  font-weight:bold;
}
.title-main h4{
  color:#6666CC;
}
.box-aviso{
  margin-top: 0.5em;
  width: 90%;
  border-radius: 0.5em;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #E74C3C;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: 3rem;
}
.Logo-icon{
    vertical-align: top;
    border-radius: 100%;
    border: 5px solid gray;
}
.item{
  border-bottom: 3px solid  #fff;
  padding: 0.5em 0 0.5em 0;
}